{% extends "base.html" %}

{% block extra_css %}
  <style>
      li {
          color: red;
      }
  </style>
{% endblock extra_css %}

{% block content %}

  <div class="m-3">
    {% if form.errors and form.non_field_errors %}

      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ form.non_field_errors }}
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
      </div>

    {% endif %}
  </div>

  <form action="" method="post" class="m-2">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text"
             class="form-control"
             name="username"
             placeholder="Enter username"
             value="{{ form.username.value|default_if_none:'' }}" />
      {{ form.username.errors }}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password"
             class="form-control"
             name="password"
             placeholder="Enter password"
             value="{{ form.password.value|default_if_none:'' }}" /> 
      {{ form.password.errors }}
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
{% endblock content %}
